.App-header {
  background-color: #191A19;
  color: #4E9F3D;
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 20px;
  padding-right: 40%;
  padding-left: 5%;
}

.App-header > h1 {
  color: #39FF14;
}

.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
}

li {
  text-align: center;
  margin: 5px 0px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}